@charset "UTF-8";
/* CSS Document */

* {margin: 0;padding: 0;}
a > * {line-height: 0;}
img {border: medium none;}
body {font-family: 나눔고딕,NanumGothic,돋움,Dotum,Arial,Helvetica,sans-serif;font-size: 13px; }
a {color:#000;text-decoration: none;}
a:hover{color:#2773ae;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: inherit;margin:0;}
li{list-style:none;}

.clearfix {clear:both;}
.bold {font-weight:bold;}

.pd10{padding: 10px;}
.pd15{padding: 15px;}
.pd20{padding: 20px;}
.pd30{padding: 30px;}
.pd40{padding: 40px;}
.pd50{padding: 50px;}
.pd100{padding: 100px;}

.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}

.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}

.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}

.mg10{margin: 10px;}
.mg15{margin: 15px;}
.mg20{margin: 20px;}
.mg30{margin: 30px;}
.mg40{margin: 40px;}
.mg50{margin: 50px;}
.mg100{margin: 100px;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}

.per5{width:5%;}
.per10{width:10%;}
.per15{width:15%;}
.per20{width:20%;}
.per25{width:25%;}
.per30{width:30%;}
.per35{width:35%;}
.per40{width:40%;}
.per45{width:45%;}
.per50{width:50%}
.per55{width:55%;}
.per60{width:60%}
.per65{width:65%;}
.per70{width:70%}
.per75{width:75%;}
.per80{width:80%}
.per85{width:85%;}
.per90{width:90%}
.per95{width:95%;}
.per100{width:100%;}

.px10{width:10px;}
.px20{width:20px;}
.px30{width:30px;}
.px40{width:40px;}
.px50{width:50px;}
.px60{width:60px;}
.px70{width:70px;}
.px80{width:80px;}
.px90 {width:90px;}
.px100{width:100px;}
.px150{width:150px;}
.px200{width:200px;}
.px250{width:250px;}
.px300{width:300px;}
.px350{width:350px;}
.px400{width:400px;}
.px450{width:450px;}
.px500{width:500px;}
.px550{width:550px;}
.px600{width:600px;}
.px650{width:650px;}
.px700{width:700px;}

.btn-primary {color: #fff;background-color: #348fe2;border-color: #348fe2;background-image: none;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2670b7;
  border-color: #2670b7;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #348fe2;
  border-color: #348fe2;
}
.btn-primary .badge {
  color: #348fe2;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #ff5c57;
  border-color: #ff5c57;
  background-image: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #ce4741;
  border-color: #ce4741;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger
,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #ff5c57;
  border-color: #ff5c57;
}
.btn-danger .badge {
  color: #ff5c57;
  background-color: #fff;
}

.btn-turquoise {
  color: #fff;
  background-color: #00acac;
  border-color: #00acac;
  background-image: none;
}
.btn-turquoise:hover,
.btn-turquoise:focus,
.btn-turquoise:active,
.btn-turquoise.active,
.open .dropdown-toggle.btn-turquoise {
  color: #fff;
  background-color: #008a8c;
  border-color: #008a8c;
}
.btn-turquoise.disabled,
.btn-turquoise[disabled],
fieldset[disabled] .btn-turquoise,
.btn-turquoise.disabled:hover,
.btn-turquoise[disabled]:hover,
fieldset[disabled] .btn-turquoise:hover,
.btn-turquoise.disabled:focus,
.btn-turquoise[disabled]:focus,
fieldset[disabled] .btn-turquoise:focus,
.btn-turquoise.disabled:active,
.btn-turquoise[disabled]:active,
fieldset[disabled] .btn-turquoise:active,
.btn-turquoise.disabled.active,
.btn-turquoise[disabled].active,
fieldset[disabled] .btn-turquoise.active {
  background-color: #00acac;
  border-color: #00acac;
}
.btn-turquoise .badge {
  color: #00acac;
  background-color: #fff;
}

.btn-royalblue {
  color: #fff;
  background-color: #717bb6;
  border-color: #717bb6;
  background-image: none;
}r
.btn-royalblue:hover,
.btn-royalblue:focus,
.btn-royalblue:active,
.btn-royalblue.active,
.open .dropdown-toggle.btn-royalblue {
  color: #fff;
  background-color: #464a6f;
  border-color: #464a6f;
}
.btn-royalblue.disabled,
.btn-royalblue[disabled],
fieldset[disabled] .btn-royalblue,
.btn-royalblue.disabled:hover,
.btn-royalblue[disabled]:hover,
fieldset[disabled] .btn-royalblue:hover,
.btn-royalblue.disabled:focus,
.btn-royalblue[disabled]:focus,
fieldset[disabled] .btn-royalblue:focus,
.btn-royalblue.disabled:active,
.btn-royalblue[disabled]:active,
fieldset[disabled] .btn-royalblue:active,
.btn-royalblue.disabled.active,
.btn-royalblue[disabled].active,
fieldset[disabled] .btn-royalblue.active {
  background-color: #717bb6;
  border-color: #717bb6;
}
.btn-royalblue .badge {
  color: #717bb6;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f49b1b;
  border-color: #f49b1b;
  background-image: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #c57e00;
  border-color: #c57e00;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f49b1b;
  border-color: #f49b1b;
}
.btn-warning .badge {
  color: #f49b1b;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #49b6d5;
  border-color: #49b6d5;
  background-image: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #3492ac;
  border-color: #3492ac;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #49b6d5;
  border-color: #49b6d5;
}
.btn-info .badge {
  color: #49b6d5;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5db75d;
  border-color: #5db75d;
  background-image: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #409e3e;
  border-color: #409e3e;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5db75d;
  border-color: #5db75d;
}
.btn-success .badge {
  color: #5db75d;
  background-color: #fff;
}


.btn-silver {
  color: #fff;
  background-color: #b7c2c8;
  border-color: #b7c2c8;
  background-image: none;
}
.btn-silver:hover,
.btn-silver:focus,
.btn-silver:active,
.btn-silver.active,
.open .dropdown-toggle.btn-silver {
  color: #fff;
  background-color: #929ba2;
  border-color: #929ba2;
}
.btn-silver.disabled,
.btn-silver[disabled],
fieldset[disabled] .btn-silver,
.btn-silver.disabled:hover,
.btn-silver[disabled]:hover,
fieldset[disabled] .btn-silver:hover,
.btn-silver.disabled:focus,
.btn-silver[disabled]:focus,
fieldset[disabled] .btn-silver:focus,
.btn-silver.disabled:active,
.btn-silver[disabled]:active,
fieldset[disabled] .btn-silver:active,
.btn-silver.disabled.active,
.btn-silver[disabled].active,
fieldset[disabled] .btn-silver.active {
  background-color: #b7c2c8;
  border-color: #b7c2c8;
}
.btn-silver .badge {
  color: #b7c2c8;
  background-color: #fff;
}

.btn-black {
  color: #fff;
  background-color: #2c353c;
  border-color: #2c353c;
  background-image: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,black
fieldset[disabled] .btn-black.active {
  background-color: #2c353c;
  border-color: #2c353c;
}
.btn-black .badge {
  color: #2c353c;
  background-color: #fff;
}

.navbar {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
   }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
color: #fff;
background-color: #3498db;
box-shadow: none;
background-image: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #3498db;
}
.navbar-default .navbar-nav>li>a {
color: #060606;
font-weight: 600;
font-size: 13px;
text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;background-color: #3498db;}

.navbar .dropdown-menu {
padding: 0;
margin: 0;
min-width: 190px;
background-color: #444;
border: none;
}
.navbar .dropdown-menu li a {
font-weight: 400;
text-transform: uppercase;
padding: 9px 20px;
font-size: 12px;
-webkit-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
transition: all 200ms ease-in;
color: #ccc;
background:#444;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #3498db !important;
    color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a {
    transition: all 0.2s ease-in-out 0s;
}

.wrapper{margin:0 auto; overflow:hidden; width:100%;}
.container{width:1170px; margin:0 auto;}
.container h3{font-size: 18px;
display: block;
width: 100%;
padding-bottom: 5px;
margin-bottom: 20px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}

.view-all {float: right;width: 75px;position: absolute;top: 10px;right: 0;}

.form-control{background-color: #FFFFFF;background-image: none;border: 1px solid #e5e6e7;border-radius: 5px;color: inherit;display: inline-block;padding: 6px 12px;font-size: 14px;vertical-align: middle;  }
.panel-heading{font-size:14px;}

/* header */
header{background: #082a47;color: #fff;display: block;clear: both; width:100%;}
header .header-top-menu {float:right;line-height: 40px; margin: 0 30px;}
header .header-top-menu .fa{color:#ccc;}
header .header-top-menu li{float:left; padding:20px 10px 10px;color:#ccc; font-size:12px;}
header .header-top-menu li a{ color:#ccc; font-size:12px;}
header .fa{padding-right:5px;}
header .badge{margin-left:5px;font-size: 10px;}

.header_line {background: #082a47; height:3px; line-height:3px;clear: both; width:100%;}

.notifications{position: relative;cursor:pointer;}
.notifications-list {color: #060606;border-bottom: 1px solid #ededed;display: block;overflow: hidden;line-height: 25px;}
.notifications-list a:link{color: #060606;}
.notifications-list a:active, .notifications-list a:hover {color:#2773ae;}
.notifications-menu{position: absolute;  top: 100%; left: 0;  z-index: 9999;  display: none;  width: 330px;  background-color: #f5f5f6;  -webkit-border-radius: 0 0 3px 3px;  -webkit-background-clip: padding-box;  -moz-border-radius: 0 0 3px 3px;  -moz-background-clip: padding;  border-radius: 0 0 3px 3px;  background-clip: padding-box;  -moz-box-shadow: 0 1px 0px rgba(0,0,0,.05);  -webkit-box-shadow: 0 1px 0px rgba(0,0,0,.05);  box-shadow: 0 1px 0px rgba(0,0,0,.05);  border: 1px solid #f8f8f8; padding: 5px 15px; }
.notifications-menu .external { background-color: #FFF; display: block; }
.notifications-menu .external a { background-color: #fff; color: #e9423f;}
.notifications-list .point{ color:#ec5956 !important;  text-align: center; }
.notifications-list span{ padding-top: 10px;  font-size: 11px; }

.m_nav{padding: 8px 10px 0 0;}
nav , .pagination{text-align:center;}

#side_menu {display: block;position:fixed;top:0;right:0;width:100%;height:100%;overflow:hidden;z-index:9999;margin:0;background-color: rgba( 0, 0, 0, 0.5 );display:none}
#side_menu .side_wr{width:250px;background:#222222;opacity:1;position:absolute;top:0;right:0;box-shadow:0 0 10px #000;overflow-x:hidden;height:100%;overflow-y:auto}
#side_menu .side_wr.add_side_wr{}
#side_menu .side_wr .side_inner_rel{position:relative;height:100%;display:block;overflow:hidden}
#side_menu .side_wr .side_inner_abs{position: absolute;width:100%;display:block;-webkit-tap-highlight-color:rgba(0,0,0,0); width:100%; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); -ms-transform:translateZ(0); -o-transform:translateZ(0); transform:translateZ(0); -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; -o-text-size-adjust:none; text-size-adjust:none}
#side_menu .side_wr{webkit-overflow-scrolling:touch}

#side_menu .m_menu li{display: block;  line-height: 40px;border-top: 1px solid #323232; position:relative;padding-left: 20px; }
#side_menu .m_menu li a.text_link{display:inline-block;width:65%;white-space:nowrap}
#side_menu .m_menu li a:hover{color: #7080b1;}
#side_menu .m_menu span{ position: absolute; right: 20px; top: 15px; } 

#side_menu li, #side_menu li>a, #side_menu li.active>a, #side_menu li>a:hover, #side_menu li>a:focus {color: #fff;}
#side_menu .dropdown-custom-menu{background: #222222;overflow:hidden; width:100%;display:none;}
#side_menu .dropdown-custom-menu li{height: 40px; line-height: 40px; border:none !important; padding-left: 10px; background:none; }
#side_menu .dropdown-custom-menu li a{color: #888; }
#side_menu .dropdown-custom-menu li a:hover{color: #7080b1;}

#side_menu .m_login{text-align: center; margin: 10px;}
#side_menu .m_login span{ padding: 0 5px;}
#side_menu .m_board{background: #000; clear: both; margin:0; }
#side_menu .m_board li { display:block; line-height: 40px;position:relative; padding-left: 35px;}
#side_menu .m_board li a:hover{color: #7080b1; }
#side_menu .m_board span{position: absolute;top: 13px;left: 10px; padding-right: 10px; }
#side_menu .m_search{margin: 0 auto;padding: 20px 0 0;width: 100%;text-align:center;}

body.over_hidden{overflow:hidden} 


/* main */
.main{width:100%; clear:both; margin: 20px 0;}
.main .navbar-form{margin-top:0; margin-bottom:0;padding: 0 15px;}

/* footer */
footer{border-top: 1px solid #e5e5e5;background-color: #f5f5f5;padding:15px 0;}
footer .company {margin-bottom:7px;clear:both;float:left;}
footer .company li{float:left; padding-right:10px;}
footer .see_mobile{clear:both; margin:0 auto; text-align:center;}
footer .copyright{font-size:12px;clear:both;}
footer .copyright span{padding-right:7px;}


.media{clear:both;}
.media-body, .media-left, .media-right {display: table-cell;vertical-align: top;}
.media-left, .media>.pull-left {padding-right: 10px;}
.media-right, .media>.pull-right {padding-left: 10px;}
.media-heading{font-size:14px;overflow:hidden;}
.media-body .media-info{font-size:11px; color:#666;}
.media-body .media-info span{padding-right:10px;}


/* sidebar */
.sidebar{border: 1px solid #e5e5e5;padding: 20px;}
.sidebar .headline {border-bottom: 1px dotted #ccc;display: block;margin-bottom:15px;}
.sidebar .headline h3{border-bottom: 2px solid #3498db;display: inline-block;margin: 0 0 -2px;padding-bottom: 5px;font-size:15px;}
.sidebar .loginbox{overflow:hidden;}
.sidebar .loginbox .text{padding-top:7px;}
.sidebar .loginbox .text li{float:left; padding-right:7px;}
.sidebar .welcome{overflow:hidden;}
.sidebar .welcome ul{overflow:hidden;}
.sidebar .welcome li{float:left;padding-right:5px;padding-bottom:5px;}
.sidebar .sidebar_latest li{padding-bottom:10px;}

.sidebar .tag-clouds{overflow:hidden;}
.sidebar .tag-clouds ul li{float:left; padding-right:10px;}

/* modal */
.modal .modal-body .number{padding-bottom:10px;}
.modal .modal-body .profile-info{overflow:hidden;}


.help-inline { display: inline-block;color: #737373;margin-left:10px; padding-top:7px;vertical-align:middle;}
.nopost {text-align:center; padding:120px 0 !important; }

textarea.dhtmleditor {width:100%;height:350px;}

.latest_comment_count {font-size:11px; color:#FF7700; margin-left:5px;font-weight:bold;}
.highlight {font-weight:bold; color:#7519FF}

/* Sideview */
#nameContextMenu { background:#000; color:#fff; padding:4px 8px 6px;z-index:10000; }
#nameContextMenu a { color:#fff; font-size:12px; line-height:20px; display:block; }
#nameContextMenu a:hover { color:#ff0000; }
#nameContextMenu td { border:0px !important; }

@media (max-width: 1170px) {
	.container{width:98%;}
}