body{font:12px/1.5  'NanumSquare', 'Nanum Gothic', sans-serif,dotum,"돋움", 'Batang';color:#555;background:url("../images/common/gnb_bg_rp.gif") 0 71px repeat-x;}
select,input,textarea{font:12px 'Nanum Gothic', sans-serif;}
a{color:#555;text-decoration:none;}
a:hover,a:focus{color:#177bfd;}
.hide,caption,legend{position:relative;left:-9999px;width:0;height:0;font-size:0;overflow:hidden;text-indent:-9999px;}
strong{font-weight:600;}


.top{position:relative;margin:0 auto;padding:30px 0;width:100%;max-width:1200px;z-index:9999 !important;}
.top:after{display:block;content:"";clear:both;}
.top h1.logo{float:left;}
.tnb{float:right;margin-right:50px;margin-top:7px;}
.tnb:after{display:block;content:"";clear:both;}
.tnb li{float:left;text-align:center;}
.tnb li img{width:55%;}

.mo_tnb{display:none;}

.pc_active{display:block;}  /*PC, tablet  800이상 활성화*/
.mo_active{display:none;}  /*mobile 800 비활성화*/

.pc_cate_active{display:block;}  /*PC, tablet 에서 보이는 gnb 활성화*/
.mo_cate_active{display:none;}  /*mobile 에서 보이는 gnb 비활성화*/


/******** PC GNB width:800px이상에서만 보임*********/
.navWrap{width:100%;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.navWrap:after{display:block;content:"";clear:both;}

.flexnav {
  *zoom: 1;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width:1200px;
  max-height: 0;
}

.flexnav:after {
  content: "";
  display: table;
  clear: both;
  display:block;
}

.flexnav.show {
  max-height: 2000px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px;
}

.flexnav li {
  position: relative;
  overflow: hidden;
  width:20%;
  *max-width:199px
}

.flexnav li a {
  position: relative;
  display: block;
  padding:16px 0;
  z-index: 2;
  overflow: hidden;
  color: #333;
  background-color:#fff;
  text-align:center;
  font-size:17px;
  line-height:100%;
}

.flexnav > li > a:hover, .flexnav > li > a:focus{
  color:#083f88;
}

.flexnav li ul {
  width: 99.5%;

}

.flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
  background-color:#FFF;
}

.flexnav li ul.show li {
  overflow: visible; background-color:#fff;

}

.flexnav li ul li a {
  display: block;
  background: #fff;
}

.flexnav ul li ul li a {
  background: #fff;
}

.flexnav ul li ul li ul li a {
  background: #fff;
}


@media all and (min-width: 800px) {

	  .flexnav {
		overflow: visible;
	  }

	  .flexnav.one-page {
		top: 0;
		right: auto;
		max-width: 1080px;
	  }

	  .flexnav li {
		position: relative;
		list-style: none;
		float: left;
		display: block;
		background-color: #a6a6a2;
		width:20%;
		overflow: visible;
	  }
	  .flexnav > li > a {
		border-bottom: none;
	  }

	  .flexnav li > ul {
		position: absolute;
		top: auto;
		left: 0;
		display: block;
		padding:10px 0;
		background-color:#fff;
	  }

	  .flexnav li > ul li {
		width: 100%;
	  }

	  .flexnav li ul li > ul {
		margin-left: 100%;
		top: 0;
	  }

	  .flexnav li ul li > ul li{
		padding:10px 0;
	  }
	  .flexnav li ul li a {
		border-bottom: none;
		font-size:14px;
		color:#555;
		padding:8px 0;
	  }
	  .flexnav li ul li a:hover,   .flexnav li ul li a:focus{
		color:#1f6fda;
	  }
	  .flexnav li ul.open {
		display: block;
		opacity: 1;
		visibility: visible;
		z-index: 1;
	  }

	  .flexnav li ul.open li {
		overflow: visible;
		max-height: 100px;
	  }

	  .flexnav li ul.open ul.open {
		margin-left: 100%;
		top: 0;
	  }


	  .menu-button {
		display: none;
	  }
	}


/******** // PC GNB width:800px이상에서만 보임*********/






/************버튼클릭 열림 gnb - PC 사이트맵*****************/


.hd_btn_wrap{position:absolute;top:36px;right:0;width:36px;height:32px;text-align:center;}
.hd_btn_wrap a img{width:50%;}

#hd_ct   {display:block; *padding:10px 0px;*height:3.6em;z-index:99999;}
#hd_ct img{width:100%;}
#m_category{display:none;position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(255, 255, 255,0.95);z-index:99999;-moz-box-sizing: border-box;    -webkit-box-sizing: border-box;    box-sizing: border-box;  -webkit-backface-visibility: hidden;}
#m_category .ct_wr{width:100%;height:100%;overflow-y:auto;float:left}
#m_category .m_logo{padding:80px 0 20px 10px;text-align:center;width:100%;}
#m_category .m_logo img{}

.sitemap{margin:70px auto;width:90%;max-width:1200px;}
.sitemap ul.menuList{text-align:center;width:100%;background-color:#fff;border:1px solid #ebebeb;border-top:none;}
.sitemap > ul.menuList:after{display:block;clear:both;content:"";}
.sitemap > ul.menuList >li{float:left;width:16.6666%;}
.sitemap > ul.menuList > li > p.menu_tit{padding:16px 0;color:#333;font-size:17px;border:1px solid #ebebeb;border-right:none;line-height:1em;background-color:#fafafa;font-weight:600;}
.sitemap > ul.menuList > li > ul{padding:10px;border-left:1px dashed #ebebeb;height:260px;}
.sitemap > ul.menuList > li > ul:last-child{}
.sitemap > ul.menuList > li > ul > li{line-height:1em;}
.sitemap > ul.menuList > li > ul > li > a{display:block;padding:10px 0;color:#555;font-size:14px;}

#m_category .pop_close{position:absolute;top:40px;right:50px;width:40px;height:40px; background:url('../images/common/bt_gnb_close.png') no-repeat 0 0; background-size:30px 30px; border:none;text-indent:-99999px; z-index:5000000000}




.ft_menuWrap{padding:15px 0;width:100%;background-color:#353535;}
.ft_menu{margin:0 auto;width:100%;max-width:1200px;text-align:center;}
.ft_menu a{display:inline-block;padding:0 10px;color:#aaa;font-size:13px;}
.ftWrap{width:100%;background-color:#393939;}
.ft{margin:0 auto;padding:20px 0;width:100%;max-width:1200px;text-align:center;}
.ft .ft_cs{}
.ft .ft_cs a{display:inline-block;padding:0 10px;color:#bbb;font-size:15px;font-weight:600;}
.ft .ft_cs a span{display:inline-block;width:20px;height:20px;text-align:right;}
.ft .ft_cs a span img{margin-top:1px;width:90%;}
.ft p{padding:5px 0;}
.ft p.addr{color:#aaa;}
.ft p.copy{color:#888;}


/*퀵 탑버튼*/
#back-to-top	{position:fixed; right:1%; bottom:5%; *margin-left:600px; width:40px;}
#back-to-top li	{margin-bottom:3px;}
#back-to-top li	a{display:block; width:40px; height:40px;}


/* 로그인 */
#login_f{position:relative;padding:0 0 20px 0;margin:100px auto 0;border-top:2px solid #000;border-bottom:1px solid #ccc;background:url("../images/member/login_logo.gif") 30px 50px no-repeat;width:90%;max-width:600px;text-align:center;}
#login_f:after{display:block;content:"";clear:both;}
#login_f .logo_box{margin:0 auto;max-width:306px;text-align:center;}
#login_f .logo_box img{width:70%;}
#login_f fieldset{margin:30px auto 0;width:340px;}
#login_f .login_input_box{float:left;margin-right:8px;}
#login_f .btn_login_wrap{float:left;}
#login_f label{display:inline-block;font-size:16px;font-weight:bold;}
#login_f input[type='text']{height:30px;width:250px;border:1px solid #ddd;margin-bottom:5px;font-size:15px;}
#login_f input[type='password']{height:30px;width:254px;border:1px solid #ddd;font-size:15px;}
a.btn_login{display:inline-block;padding-top:22px;background-color:#083f88;color:#fff;border:1px solid #073572;border-radius:4px;box-shadow:1px 1px 1px #aaa;height:45px;width:70px;text-align:center;font-size:16px;}
a.btn_login:hover, a.btn_login:focus{background-color:#1b57a7;border:1px solid #083f88;color:#ffd503;}
.login_txt{width:100%;margin-top:30px;padding-top:20px;font-size:13px;text-align:center;border-top:1px dashed #ddd;}
.login_bt_wrap{text-align:center;margin-top:20px;}
/*사용신청*/
#usage_wrap{padding:30px 0 20px 0;margin:100px auto 0;text-align:center;border-top:2px solid #000;border-bottom:1px solid #ccc;width:90%;max-width:600px;}
#usage_wrap .logo_box{margin:0 auto;max-width:306px;text-align:center;}
#usage_wrap .logo_box img{width:70%;}
#usage_wrap p{margin:20px 0;font-size:15px;}
#usage_wrap .usageBox{margin:0 auto 20px;width:100%;max-width:350px;border-bottom:1px solid #eee;border-top:2px solid #888;}
#usage_wrap .usageBox table{}
#usage_wrap .usageBox table tbody th, #usage_wrap .usageBox table tbody td{padding:8px 10px;font-size:15px;*border-bottom:1px dashed #eee;}
#usage_wrap .usageBox table tbody th{text-align:left;padding-left:20px;}
#usage_wrap .usageBox table tbody td{text-align:left;}





/********* tablet *********/
@media all and (max-width:1200px) {
*body{border:5px solid red;}

.top h1.logo{float:left;margin-left:10px;}
.hd_btn_wrap{right:10px;}
.tnb{float:right;margin-right:60px;}

.sitemap{width:96%;}


}




@media all and (max-width:1000px) {
*body{border:5px solid aqua;}

#m_category .m_logo{padding:30px 0 20px 10px;}
.sitemap{margin:30px auto;width:90%;}
.sitemap > ul.menuList >li{float:left;width:33.333333%;}
}



/********* mobile *********/
@media all and (max-width:700px) {
*body{border:5px solid #000;}

.pc_active{display:none;}  /*PC, tablet  비활성화*/
.mo_active{display:block;}  /*mobile 활성화*/

.pc_cate_active{display:none;}  /*PC, tablet 에서 보이는 gnb 비활성화*/
.mo_cate_active{display:block;} /*mobile 에서 보이는 gnb 활성화*/


.top{position:relative;margin:0 auto;padding:15px 0;width:100%;max-width:1200px;}
.top:after{display:block;content:"";clear:both;}
.top h1.logo_mo{float:left;;}
.top h1.logo_mo img{width:60%;margin-left:5px;}
.tnb{position:absolute;top:17px;right:20px;float:right;margin-right:30px;margin-top:7px;width:70px;}
.tnb:after{display:block;content:"";clear:both;}
.tnb li{float:left;text-align:center;width:50%;}
.tnb li img{width:60%;}





/*버튼클릭 열림 gnb - 모바일메뉴 */
.hd_btn_wrap{position:absolute;top:22px;right:10px;width:32px;height:28px;text-align:center;}
.hd_btn_wrap a img{width:50%;}

#hd_ct   {display:block; *padding:10px 0px;*height:3.6em;z-index:99999;}
#hd_ct img{width:100%;}
#m_category{display:none;position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(255, 255 255,0.9);z-index:99999;-moz-box-sizing: border-box;    -webkit-box-sizing: border-box;    box-sizing: border-box;  -webkit-backface-visibility: hidden;}
#m_category .ct_wr{width:250px;height:100%;overflow-y:auto;background:rgba(7,56,121,1); float:left;*border-right:1px solid #ebebeb;box-shadow: 5px 5px 10px  #ddd;}
#m_category .m_logo{display:none;padding:15px 0 10px 5px;text-align:left;background-color:#f3f3f3;}
#m_category .m_logo img{width:50%;}

#m_category .mo_tnb{display:block;padding:15px 0;margin-left:6px;border-bottom:1px solid #062f66;}
#m_category .mo_tnb:after{display:block;content:"";clear:both;}
#m_category .mo_tnb li{float:left;text-align:center;}
#m_category .mo_tnb li img{width:46%;}

#m_category ul.cate{background:#083f88;;width:100%;text-align:left;text-indent:10px; overflow: hidden}
#m_category ul.cate>li{line-height:35px;border-bottom:1px solid #062f66;}
#m_category ul.cate li{position:relative;font-weight:600;}
#m_category ul.cate li a{display:block;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;color:#333;}
#m_category ul.cate li .ct_op{ height:42px; font-size:1.3em; width:100%; padding-top:10px; text-align:left; padding-left:12px; background-color:#083f88; color:#fff;}
#m_category ul.cate li p:hover{color:#ffd503; text-decoration:none;cursor:pointer;}
#m_category ul.cate li .ct_cl{background-position:220px -24px;}

#m_category ul.sub_cate{display:none;border-top:1px solid #ddd;}
#m_category ul.sub_cate1 li{text-indent:14px;background:#f3f3f3;border-top:1px dotted #aaa;font-weight:normal; color:#333}
#m_category ul.sub_cate1 li:first-child{border-top:none}
#m_category ul.sub_cate1 li a{color:#333; text-decoration:none;padding:5px 0 3px 10px;font-size:1.2em;}
#m_category ul.sub_cate1 li a:hover{color:#083f88; text-decoration:none}
#m_category ul.sub_cate2 li{text-indent:25px;background:#555;}
#m_category ul.sub_cate3 li{text-indent:40px;background:#555;}
#m_category ul.sub_cate4 li{text-indent:55px;background:#555;}
#m_category .pop_close{position:absolute;top:22px;right:0px;width:45px;height:45px; background:url('../images/common/bt_gnb_close.png') no-repeat 0 0; background-size:30px 30px; border:none;text-indent:-99999px; z-index:5000000000;cursor:pointer;}


#login_f{width:96%;}
#login_f fieldset{margin:10px auto 0;width:90%;}
.login_input_box{float:left;width:100%;}
.btn_login_wrap{float:left;width:100%;}
#login_f input[type='text']{height:40px;width:99%;margin-bottom:0px;}
#login_f input[type='password']{height:40px;width:100%;margin:-8px 0 10px;}
a.btn_login{display:inline-block;padding-top:10px;height:35px;width:100%;}



}




