/*body {background:url('../images/common/mark_bg.png') center top repeat-y;}*/


.printWrap{background:url('../images/common/mark_bg.png')no-repeat center -100px; font-family:'Batang'; background-size:100%;}

.mark_bg {position:absolute; z-index:0; top:40%; margin-left:50%; left:-150px;}
/******* 프린트 - 테이블 폼 css *******/
table{border-collapse: collapse; border-spacing:0; width:100%;}
.tblPrint_01{*border-top:2px solid #555;*border-bottom:1px solid #666;}
.tblPrint_01 > table{max-width:800px;}
.tblPrint_01 table thead th.form_tit{padding:30px 0 30px;font-size:30px;font-weight:normal;color:#000;text-align:center;}
.tblPrint_01 table thead th.form_tit p.form_sort{margin-bottom:-10px;font-size:15px;text-align:right;}
.tblPrint_01 table thead th.form_tit p.form_sort span{display:inline-block;padding:3px 10px;border-radius:50px;font-size:12px;background-color:#666;color:#fff;}
.tblPrint_01 table > tbody {border:2px solid #000;}
.tblPrint_01 table tbody tr:first-child{border-top:1px solid #666;}
.tblPrint_01 table tbody th, .tblPrint_01 table tbody td{padding:8px 10px;font-size:13px;border-bottom:1px solid #666;}
.tblPrint_01 table tbody th{text-align:center;*border-left:1px solid #666;border-right:1px dashed #666;*background-color:#fbfbfb;*font-weight:normal;color:#000;}
.tblPrint_01 table tbody td{border-right:1px solid #666;color:#222;}
.tblPrint_01 table tbody td:last-child{border-right:none;}
.tblPrint_01 table tbody td.bdrN{border-right:none;}
.tblPrint_01 table tbody td.pdTB20{padding-top:20px;padding-bottom:20px;}
/*.tblPrint_01 table tbody td.td_photo{border:2px solid #fff;border-bottom:2px solid #000;border-right:2px solid #000;}*/
.tblPrint_01 table tbody td p{}
.tblPrint_01 table tbody td p.photo_box{margin-top:-100px;vertical-align:top;width:100%;min-width:120px;max-width:140px}
.tblPrint_01 table tbody td p.photo_box img{width:100%;}

.tblPrint_01 table tbody td p.photo_box2{margin-top:0px; vertical-align:top; width:100%;min-width:120px;max-width:140px}
.tblPrint_01 table tbody td p.photo_box2 img{width:100%;}

.tblPrint_01 table tbody td p.photo_box3{margin-top:-80px; vertical-align:top; width:100%;min-width:120px;max-width:140px}
.tblPrint_01 table tbody td p.photo_box3 img{width:100%;}


.tblPrint_01 table tbody td p.sign_area span{display:inline-block;border-bottom:1px solid #666;width:100px;}

/*  s_tit  폼 사이의 작은 타이틀 */
.tblPrint_01 table tbody td p.s_tit{margin:0 0 -8px -10px ;font-size:17px;font-weight:600;color:#000;}   /*폼(table) 사이에 있을 때*/
p.s_tit{display:inline-block;margin:10px 0 8px;padding-top:15px;font-size:17px;font-weight:600;color:#000;}        /*폼(table) 밖에 있을 때*/
/*  //s_tit  폼 사이의 작은 타이틀 */

/* 테이블 밖 폼 타이틀 (div.form_tit)  -  주일헌금, 특별헌금 */
div.form_tit{padding:20px 0;font-size:30px;font-weight:normal;color:#000;text-align:center;border-top:2px solid #555;border-bottom:1px solid #666;}
div.form_tit ul{margin-bottom:-10px;}
div.form_tit ul:after{display:block;content:"";clear:both;}
div.form_tit li{float:left;width:50%;}
div.form_tit li p{font-size:15px;text-align:left;}
div.form_tit li p.form_sort{margin-bottom:-10px;font-size:15px;text-align:right;}
div.form_tit li p.form_sort span{display:inline-block;padding:3px 10px;border-radius:50px;font-size:12px;background-color:#333;color:#fff;}
/*  //테이블 밖 폼 타이틀 */


.tblPrint_01 table tbody td dl{margin-top:2px;}
.tblPrint_01 table tbody td dl:after{display:block;content:"";clear:both;}
.tblPrint_01 table tbody td dl dt, .tblPrint_01 table tbody td dl dd{float:left;}
.tblPrint_01 table tbody td dl dt{padding:5px 7px;font-size:13px;background-color:#ebebeb;color:#333;width:10%;min-width:25px;margin-right:5px;}
.tblPrint_01 table tbody td dl dd{padding:3px 0 1px;width:75%;;}

/*    dl02   - 출생신고서 */
.tblPrint_01 table tbody td dl.dl02.dl.dl0202{margin-top:2px;}
.tblPrint_01 table tbody td dl.dl02:after{display:block;content:"";clear:both;}
.tblPrint_01 table tbody td dl.dl02 dt, .tblPrint_01 table tbody td dl.dl02 dd{float:left;height:20px;margin-bottom:1px;}
.tblPrint_01 table tbody td dl.dl02 dt{padding:5px 10px;font-size:13px;background-color:#ebebeb;color:#333;width:auto;min-width:25px;margin-right:5px;}
.tblPrint_01 table tbody td dl.dl02 dd{padding:4px 0 6px;width:auto; margin-right:20px;}
.tblPrint_01 table tbody td dl.dl02 dd input{margin-top:-2px;} /*dd의 패딩값이 텍스트 기준으로 되어있기때문에 input을 넣을 때 margin으로 조절*/
.tblPrint_01 table tbody td dl.dl02 dd select{margin-top:-2px;} /*dd의 패딩값이 텍스트 기준으로 되어있기때문에 select를 넣을 때 margin으로 조절*/

/*    dl03   - 가정출발신고서 */
.tblPrint_01 table tbody td dl.dl03.dl.dl0302{margin-top:2px;}
.tblPrint_01 table tbody td dl.dl03:after{display:block;content:"";clear:both;}
.tblPrint_01 table tbody td dl.dl03 dt, .tblPrint_01 table tbody td dl.dl03 dd{float:left;height:20px;margin-bottom:1px;}
.tblPrint_01 table tbody td dl.dl03 dt{padding:4px 6px;font-size:13px;background-color:#ebebeb;color:#333;width:auto;min-width:25px;margin-right:5px;}
.tblPrint_01 table tbody td dl.dl03 dd{padding:4px 0 4px;width:auto; margin-right:20px;}
.tblPrint_01 table tbody td dl.dl03 dd input{margin-top:-2px;margin-bottom:5px;} /*dd의 패딩값이 텍스트 기준으로 되어있기때문에 input을 넣을 때 margin으로 조절*/
.tblPrint_01 table tbody td dl.dl03 dd select{margin-top:-2px;margin-bottom:5px} /*dd의 패딩값이 텍스트 기준으로 되어있기때문에 select를 넣을 때 margin으로 조절*/


/** 가족관계 **/
.tblPrint_01 table tbody td div.tbl_fmly{border:none;}
.tblPrint_01 table tbody td div.tbl_fmly table{border:none;width:100%;}
.tblPrint_01 table tbody td div.tbl_fmly table thead th, .tblPrint_01 table tbody td div.tbl_fmly table tbody td{padding:3px;border:none;font-size:13px;}
.tblPrint_01 table tbody td div.tbl_fmly table thead th{text-align:center;border-bottom:1px solid #aaa;border-right:1px solid #ddd;border-top:1px solid #aaa;}
.tblPrint_01 table tbody td div.tbl_fmly table thead th:nth-child(even){border-right:1px solid #aaa;}
.tblPrint_01 table tbody td div.tbl_fmly table thead th:last-child{border-right:none;}
.tblPrint_01 table tbody td div.tbl_fmly table tbody{border:1px solid #fff;}
.tblPrint_01 table tbody td div.tbl_fmly table tbody td{text-align:center;border-bottom:1px solid #aaa;border-right:1px solid #ddd;}
.tblPrint_01 table tbody td div.tbl_fmly table tbody td:nth-child(odd){border-right:1px dashed #ddd;}
.tblPrint_01 table tbody td div.tbl_fmly table tbody td:nth-child(even){border-right:1px solid #aaa;}
.tblPrint_01 table tbody td div.tbl_fmly table tbody td:last-child{border-right:none;}
.tblPrint_01 table tbody td div.tbl_fmly table tbody td input{width:100%;}


.tbl_sign{position:relative;}
.tbl_sign:after{display:block;clear:both;content:"";}
.tbl_sign p.logo_box{float:left;}
.tbl_sign table                     {float:right;border-collapse: collapse; border-spacing: 0;width:100%; max-width:300px; float:right;border:2px solid #000;}
.tbl_sign table th                  {padding:8px 10px; font:13px/130% 'BareunBatangM'; border:1px solid #666;}
.tbl_sign table td                  {padding:10px 10px; font:13px/130% 'BareunBatangM'; border:1px solid #666; text-align:center;min-width:52px;height:45px}
.tbl_sign table td .signTime        {font:11px/130% 'BareunBatangM';}
.tbl_sign table td .signApprove     {font:18px/130% 'BareunBatangM'; font-weight:bold; padding-top:5px;}



/***************************************** 프린트- 증명서 폼 *********************************************/
.top_img_box{padding-top:0px; text-align:center;}
.print_cer_top{margin:0px auto;width:750px;}
.print_cer_top:after{display:block;clear:both;content:"";}
.print_cer_top li{float:left;width:50%;color:#333;font-size:15px;}
.print_cer_wrap{}
.print_cer_wrap table{margin:0 auto;width:650px;color:#000;}
.print_cer_wrap table thead th{padding:90px 0 60px;text-align:center;font-size:39px;letter-spacing:35px}
.print_cer_wrap table tbody th,.print_cer_wrap table tbody td{padding:18px 0;letter-spacing:2px;}
.print_cer_wrap table tbody th{text-align:left;font-size:18px;font-weight:normal;}
.print_cer_wrap table tbody th.space_tlt {letter-spacing:3px;}
.print_cer_wrap table tbody td{padding-left:15px;text-align:left;text-align:left;font-size:18px;}
.print_cer_wrap table tbody td.letterSpc_3{letter-spacing:12px}
.print_cer_wrap table tbody td.lineHeight{line-height:30px;}
.print_cer_wrap table tbody td span.txt_indent01{display:inline-block;width:115px;}
.print_cer_wrap table tbody td span.txt_indent02{display:inline-block;width:50px;}
.fs17 {font-size:17px!important;}

.print_cer_wrap table tbody td.career{padding:10px;}
.print_cer_wrap table tbody td.career ul{min-height:100px;}
.print_cer_wrap table tbody td.career ul li{width:100%;}
.print_cer_wrap table tbody td.career ul li:after{display:block;content:"";clear:both;}
.print_cer_wrap table tbody td.career ul li p{float:left;}
.print_cer_wrap table tbody td.career ul li p.period{width:44%;}
.print_cer_wrap table tbody td.career ul li p.position{width:55%;}

.print_cer_wrap table tbody td p.sealBox{margin:0 auto;width:300px;height:150px;border:1px solid #000;}

.date_box{text-align:center;font-size:17px;color:#000;}
.official_box{margin-top:40px;text-align:center;font-size:30px;letter-spacing:8px;font-weight:600;color:#000;}
.official_box2{margin-top:20px;text-align:center;}






/** 리스트 02 **/
.tblListPrint_02{}
.tblListPrint_02 table thead th         {padding:10px 5px; color:#000; font-weight:600; background:#f6f6f6;font-size:14px; border:1px solid #666;}
.tblListPrint_02 table thead tr:first-child{border-top:2px solid #222;}
.tblListPrint_02 table thead th:first-child{border-left:2px solid #222;}
.tblListPrint_02 table thead th:last-child{border-right:2px solid #222;}
.tblListPrint_02 table tbody th         {padding:10px 10px;text-align:left;background-color:#fbfbfb;font-size:14px;border:1px solid #666;}
.tblListPrint_02 table tbody th:first-child{border-left:2px solid #222;}
.tblListPrint_02 table tbody td         {padding:10px 10px; color:#444; border:1px solid #666; text-align:center;font-size:14px;}
.tblListPrint_02 table tbody td:first-child{border-left:2px solid #222;}
.tblListPrint_02 table tbody td:last-child{border-right:2px solid #222;}
.tblListPrint_02 table tbody tr.bdT2{border-top:2px solid #222;}
.tblListPrint_02 table tbody tr:last-child{border-bottom:2px solid #222;}
.tblListPrint_02 table tbody tr.bg_w{background-color:#fff;}
.tblListPrint_02 table tbody tr.bg_gr{background-color:#fafafa;}
/*.tblListPrint_02 table tbody tr:nth-child(even){background:#fcfcfc} */
.tblListPrint_02 table tbody td p.s_tit{margin:0 0 -8px -10px ;font-size:17px;font-weight:600;color:#000;text-align:left !important;}   /*폼(table) 사이에 있을 때*/
.tblListPrint_02 table tbody td p.pc_none{display:none;}
.tblListPrint_02 table tbody td.w7{width:7%;}
.tblListPrint_02 table tbody td.w22{width:22%;}

.tblListPrint_02 table tbody td span{display:inline-block;margin-right:20px;}


.tblForm_box {border:2px solid #000;}




