@charset "utf-8";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css');


body {background:#efefef;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font:15px/150% "NanumSquare", "NanumGothic","Nanum Gothic","나눔고딕" ,"Dotum";
  color:#444;
}


a       {text-decoration:none;}
table     {border-collapse: collapse; border-spacing: 0;}
.clearfix   {*zoom:1;} /* ie를 위한 핵 */
.clearfix:after {content:" "; display:block; clear:both; height:0; visibility:hidden;}/* 기타 브라우져*/


.left     {float:left;}
.right      {float:right;}
.alignL     {text-align:left !important;}
.alignR     {text-align:right !important;}
.alignC     {text-align:center !important;}
.valignM    {vertical-align:middle !important;}
.valignB    {vertical-align:bottom !important;}
.valignT    {vertical-align:top !important;}
.inlineGroup,
.btn_fmlyinfo {display:inline-block;}
.inlineGroup li {display:inline-block; margin-right:15px; }
.block      {display:block !important;}
.col-2      {float:left; width:49%; margin:0 1% 0 0;}
img.ui-datepicker-trigger {margin-top:1px; cursor:pointer;}
.pc_active    {display:block;}  /*PC, tablet  800이상 활성화*/
.mo_active    {display:none;}  /*mobile 800 비활성화*/

/*********** mobile ***********/
@media all and (max-width:850px){
.pc_active{display:none;}  /*PC, tablet  비활성화*/
.mo_active{display:block;}  /*mobile 활성화*/

}

.green	  {color: #00ff00 !important;}
.blue     {color:#0000ff !important;}
.red      {color:#ff0000 !important;}
a.line    {text-decoration:underline;}
.tag      {border-radius:2px; padding:2px 3px; background:#555; color:#fff; font-size:13px;}

/* layout */
#header       {position:fixed; width:100%; min-width:1200px; background:#083f88; height:60px;z-index:9999;;}
#container      {padding-top:60px; min-width:1200px; }
#container:after  {content:" "; display:block; clear:both; height:0; visibility:hidden;}
#content      {margin:0 30px 0 230px; min-width:970px;}
#contentMain    {margin:0 30px 30px;}
h2.title      {font:25px/140% 'NanumSquare'; color:#222; margin:20px 0; letter-spacing:-0.08em;}
h3.h3Tit      {font:17px/140% 'NanumSquare'; color:#222; padding:0 0 10px; letter-spacing:-0.05em; font-weight:600;}
h3.h3Tit i      {font-weight:normal; color:#083f88;}

.conBox       {background:#fff; box-shadow:2px 0 10px rgba(0, 0, 0, 0.1); padding:20px; margin-bottom:20px;}
.conBox:after   {content:" "; display:block; clear:both; height:0; visibility:hidden;}



h1.logo       {float:left; padding:18px 0 0 20px;}
h1.logo a     {font:18px/25px 'NanumSquare'; color:#ffdc00; font-weight:600;}
#gnb				{float:left; margin-left:20px;}
#gnb ul li			{float:left; padding:0 15px;}
#gnb ul li a		{color:#fff; font:16px/60px 'NanumSquare';}
#gnb ul li a:active,
#gnb ul li a:hover	{color:#ffdc00; }
#gnb ul li:last-child {background:#000;}

#side       {position:fixed; top:60px; bottom:0; background:#fff; width:200px; box-shadow:2px 0 10px rgba(0, 0, 0, 0.1); }
#side h2      {font:18px/70px 'NanumSquare'; color:#083f88; font-weight:600; text-indent:15px; letter-spacing:-0.05em; background:#e4e4e4;}
#side ul li a   {display:block; font:14px/45px 'NanumSquare'; color:#444; text-indent:15px; letter-spacing:-0.05em;}
#side ul li.on > a  {background:#f2f2f2; color:#083f88;}
#side ul li a:hover {color:#083f88;}
#side ul li ul    {width:90%; margin:0 auto;}
#side ul li ul li a {display:block; font:12px/25px ''; color:#666; text-indent:10px; letter-spacing:-0.05em;}
#side ul li ul li.on a  {background:#fff; font-weight:600; color:#000;}
#side ul li ul li a:before  {content:"- "; }

.searchBox              {background:#fafafa; padding:20px; border:1px solid #e8e8e8;}
.scrollBox              {overflow-x:auto;}
.scrollBox2             {overflow-y:scroll;}

thead.scrollHead, tbody.scrollBody  {display:block;}
tbody.scrollBody  {overflow-y:scroll; height:300px;}

.bbs_list table               {width:100%;}
.bbs_list table thead th      {padding:14px 10px; font:15px/130% 'NanumSquare'; color:#000; font-weight:600; background:#f6f6f6; border:1px solid #eee; text-align:center;}
.bbs_list table tbody th      {padding:14px 10px; font:15px/130% 'NanumSquare'; color:#222; border:1px solid #e2e2e2; font-weight:bold; background:#eaeaea;}
.bbs_list table tbody td      {padding:14px 10px; font:15px/130% 'NanumSquare'; color:#444; border:1px solid #eee; text-align:center;}
.bbs_list table tbody tr:nth-child(even){background:#fcfcfc}


/*시스템 > 메뉴관리*/
.bbs_list table tbody td.mn_1st{}
.bbs_list table tbody td.mn_2nd{padding-left:30px;background: url('/assets/admin/images/arr_createSubMn.png') 15px 50% no-repeat;}
.bbs_list table tbody td.mn_3rd {padding-left:40px;background: url('/assets/admin/images/arr_createSubMn.png') 25px 50% no-repeat;}


.bbs_form table           {width:100%; table-layout:fixed;}
.bbs_form table thead th      {padding:20px 10px; font:18px/130% 'NanumSquare'; color:#000; font-weight:600; border:1px solid #eee; border-top:1px solid #000; background:#f0f0f0;}
.bbs_form table tbody th      {width:200px; padding:14px 10px; font:15px/130% 'NanumSquare'; color:#000; font-weight:600; background:#f6f6f6; border:1px solid #eee;}
.bbs_form table tbody td      {padding:14px 10px; font:15px/130% 'NanumSquare'; color:#444; border:1px solid #eee;}
.bbs_form table tbody td.fileArea p {padding:2px 0;}
.bbs_form table tbody td.fileArea p i{width:23px; height:23px; line-height:23px; font-size:12px; color:#666; background:#eee; text-align:center; border-radius:50%;}
.bbs_form table tbody td.contentArea{padding:30px; height:200px; vertical-align:top;}

.pagination             {position:relative; text-align:center; margin:20px 0;z-index:10;}
.pagination a, .pagination strong{display:inline-block;width:26px;height:26px;margin-left:1px;margin-right:1px;text-align:center;font-size:13px;color:#252525;line-height:28px;letter-spacing:-2px;vertical-align:middle;}
.pagination a           {border:solid 1px #dedede;background:#fff}
.pagination strong          {border:solid 1px #083f88;background:#083f88;color:#fff;font-weight:normal;}
.pagination span.page_btn     {display:inline-block;margin:0 2px}
.pagination span.page_btn a     {width:26px;height:26px; font-size:14px;line-height:26px;}
*:first-child+html .pagination span.page_btn a{text-indent:0}


.tbl_sign table           {border-collapse: collapse; border-spacing: 0;width:100%; max-width:500px; float:right;}
.tbl_sign table th          {padding:8px 10px; font:15px/130% 'NanumSquare'; border:1px solid #666;}
.tbl_sign table td          {padding:14px 10px; font:15px/130% 'NanumSquare'; border:1px solid #666; text-align:center;}
.tbl_sign table td .signTime    {font:11px/130% 'NanumSquare';}
.tbl_sign table td .signApprove   {font:18px/130% 'NanumSquare'; font-weight:bold; padding-top:5px;}

.sortBox              {border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; padding:5px; }
.sortBox li             {display:inline-block; padding:5px;}
.sortBox li:after         {padding-left:15px; content:"/"; color:#ddd;}
.sortBox li:last-child:after    {padding-left:0; content:"";}
.sortBox li.active a        {font-weight:bold; color:#083f88;}

.blessRegi li           {width:47%; border:2px solid #e8e8e8; padding:10px;}
.blessRegi li:nth-child(odd)    {float:left;}
.blessRegi li:nth-child(even)   {float:right;}


/******* 테이블 폼 css *******/
table{border-collapse: collapse; border-spacing: 0;width:100%;}
.tblForm_01{}
.tblForm_01 table{border-top:2px solid #555;border-bottom:2px solid #ddd;}
.tblForm_01 table thead th{padding:20px 0;font-size:30px;font-weight:normal;border-bottom:1px solid #ddd;font-family:'NanumSquare';}
.tblForm_01 table thead th.regiTit{padding:10px 0;font-size:20px;font-weight:normal;border-bottom:1px solid #ddd;font-family:'NanumSquare';}
.tblForm_01 table thead th p.form_sort{margin-bottom:-10px;font-size:15px;text-align:right;}
.tblForm_01 table thead th p.form_sort span{display:inline-block;padding:3px 10px;border-radius:50px;font-size:12px;background-color:#333;color:#fff;}
.tblForm_01 table tbody th, .tblForm_01 table tbody td{padding:10px;font-size:14px;border-bottom:1px solid #ddd;}
.tblForm_01 table tbody th{text-align:left;*border-left:1px solid #ddd;border-right:1px dashed #ddd;background-color:#fbfbfb;*font-weight:normal;}
.tblForm_01 table tbody th.thTit{text-align:center;*border-left:1px solid #ddd;border-right:none;background-color:#f5f5f5; font-weight:600;}
.tblForm_01 table tbody td{border-right:1px solid #ddd; background:#fff;}
.tblForm_01 table tbody td:last-child{border-right:none;}
.tblForm_01 table tbody td.bdrN{border-right:none;}
.tblForm_01 table tbody td p{}
.tblForm_01 table tbody td p.photo_box{vertical-align:top;width:100%; margin:0 auto; min-width:120px;max-width:140px;}
.tblForm_01 table tbody td p.photo_box img{width:100%;}
.tblForm_01 table tbody td p.photo_box_2{vertical-align:top;width:100%; margin:0 auto; min-width:120px;max-width:140px;}
.tblForm_01 table tbody td p.photo_box_2 img{width:100%;}
.tblForm_01 table tbody td p.s_tit{margin-left:-10px;padding-top:15px;font-size:17px;font-weight:600;}

.tblForm_01 table tbody td dl{margin-top:2px;}
.tblForm_01 table tbody td dl:after{display:block;content:"";clear:both;}
.tblForm_01 table tbody td dl dt, .tblForm_01 table tbody td dl dd{float:left;}
.tblForm_01 table tbody td dl dt{padding:5px 10px;font-size:13px;background-color:#ebebeb;color:#333;width:10%;min-width:25px;margin-right:5px;}
.tblForm_01 table tbody td dl dd{padding:1px 0 3px;width:77%;}

/*    dl02   - 출생신고서 */
.tblForm_01 table tbody td dl.dl02.dl.dl0202{margin-top:2px;}
.tblForm_01 table tbody td dl.dl02:after{display:block;content:"";clear:both;}
.tblForm_01 table tbody td dl.dl02 dt, .tblForm_01 table tbody td dl.dl02 dd{float:left;height:20px;margin-bottom:1px;}
.tblForm_01 table tbody td dl.dl02 dt{padding:5px 10px;font-size:13px;background-color:#ebebeb;color:#333;width:auto;min-width:25px;margin-right:5px;}
.tblForm_01 table tbody td dl.dl02 dd{padding:4px 0 6px;width:auto; margin-right:20px;}
.tblForm_01 table tbody td dl.dl02 dd input{margin-top:-2px;} /*dd의 패딩값이 텍스트 기준으로 되어있기때문에 input을 넣을 때 margin으로 조절*/
.tblForm_01 table tbody td dl.dl02 dd select{margin-top:-2px;} /*dd의 패딩값이 텍스트 기준으로 되어있기때문에 select를 넣을 때 margin으로 조절*/

/** 가족관계 **/
.tblForm_01 table tbody td div.tbl_fmly{border:none;}
.tblForm_01 table tbody td div.tbl_fmly table{border:none;width:100%;}
.tblForm_01 table tbody td div.tbl_fmly table thead th, .tblForm_01 table tbody td div.tbl_fmly table tbody td{padding:3px;border:none;font-size:13px;}
.tblForm_01 table tbody td div.tbl_fmly table thead th{text-align:center;border-bottom:1px solid #ebebeb;border-right:1px solid #ebebeb;}
.tblForm_01 table tbody td div.tbl_fmly table thead th:last-child{border-right:none;}
.tblForm_01 table tbody td div.tbl_fmly table tbody td{}
.tblForm_01 table tbody td div.tbl_fmly table tbody td input{width:100%;}

.tblList_01{}
.tblList_01 table{border-top:2px solid #051f42;}
.tblList_01 table thead th, .tblList_01 table tbody td{padding:10px 5px;text-align:center;font-size:14px;font-weight:normal;}
.tblList_01 table thead th{border-bottom:1px solid #051f42;border-right:1px solid #051f42;background-color:#083f88;color:#fff;}
.tblList_01 table thead th:last-child{border-right:none;}
.tblList_01 table tbody td{border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.tblList_01 table tbody td:last-child{border-right:none;}
.tblList_01 table tbody tr.bg_w{background-color:#fff;}
.tblList_01 table tbody tr.bg_gr{background-color:#f7f7f7;}

.tblList_02{}
.tblList_02 table thead th      {padding:10px 5px; color:#000; font-weight:600; background:#f6f6f6;font-size:14px; border:1px solid #ddd;}
.tblList_02 table tbody th      {padding:10px 10px;text-align:left;background-color:#fbfbfb;font-size:14px;border:1px solid #ddd;}
.tblList_02 table tbody td      {padding:10px 10px; color:#444; border:1px solid #ddd; text-align:center;font-size:14px;}
.tblList_02 table tbody tr.bg_w{background-color:#fff;}
.tblList_02 table tbody tr.bg_gr{background-color:#fafafa;}
/*.tblList_02 table tbody tr:nth-child(even){background:#fcfcfc} */
.tblList_02 table tbody td p.s_tit{margin:0 0 -8px -10px ;font-size:17px;font-weight:600;color:#000;text-align:left !important;}   /*폼(table) 사이에 있을 때*/
.tblList_02 table tbody td p.pc_none{display:none;}
.tblList_02 table tbody td.w7{width:7%;}
.tblList_02 table tbody td.w22{width:22%;}

.tblList_02 table tbody td span{display:inline-block;margin-right:20px;}

/* tab */
.tabs             {width:100%; display:inline-block;}
.tab-links:after        {display:block; clear:both; content:'';}
.tab-links li         {float:left; list-style:none;}
.tab-links a          {display:inline-block; border:3px solid transparent; padding:6px 15px; transition: 0.3s; font-size: 15px; color:#888; letter-spacing:-0.05em;}
.tab-links a:hover        {color:#444;}
li.active a, li.active a:hover  {background-color: #fff; color:#083f88; box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.02), -1px 0 0 rgba(0, 0, 0, 0.015), 1px 0 0 rgba(0, 0, 0, 0.015); border:3px solid #083f88; font-weight:600;}
.tab-content          {background:#fff; box-shadow:2px 0 10px rgba(0, 0, 0, 0.1); padding:20px; margin-bottom:20px;}
.tab              {display:none;}
.tab.active           {display:block;}



.interview dt         {font-weight:600; color:#222;}
.interview dd         {padding:10px 10px 30px;}

.photo_box{}
.photo_box li{display:inline-block;margin-right:5px;width:32%;}
.photo_box li img{width:100%;}

.photo_box_2{}
.photo_box_2 li{display:inline-block;margin-right:5px;width:32%;}
.photo_box_2 li img{width:100%;}





/** 페이지네이션 CSS (170724jsw)*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}


.error {color:red;}

bbs_list td a { color: #6161dc; }