@charset "utf-8";

/* layout */
#wrap				{}
#header_rp			{position:fixed; width:100%; background:#083f88; height:60px;}
#container_rp		{padding-top:60px; margin-right:30px;}
#container_rp:after	{content:" "; display:block; clear:both; height:0; visibility:hidden;}
#content_rp			{width: calc(100% - 230px); margin-left:230px; }
h2.title			{font:25px/140% ''; color:#222; margin:20px 0; letter-spacing:-0.08em;}


.mView				{display:none;}




/*********** pc **********/
@media all and	(min-width:1101px){
}





/*********** tablet ***********/
@media all and	(max-width:1100px){
h1.logo				{float:none; padding:18px 0 0 20px; font:18px/25px 'NanumSquare'; color:#ffdc00; font-weight:600; text-align:center; }
#container_rp		{padding-top:60px; margin:0 10px;}
#content_rp			{width:100%; margin-left:0; }
#content_rp h2.title{font:23px/140% ''; color:#222; margin:15px 0;}

.mView				{display:block;}
.mNone				{display:none;}
.conBox				{padding:12px !important;}

#m_navication		{position:relative;display:block;}
#hd_home			{display:block; position:absolute; top:6px; left:10px; }
#hd_ct				{display:block; position:absolute; top:-27px; left:10px;}
#hd_home i, #hd_ct	{color:#fff; font-size:25px;}
#m_category			{display:none;position:fixed;top:0;right:0;width:100%;height:100%; z-index:99999;-moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-backface-visibility: hidden;}
#m_category .ct_wr	{width:100%;height:100%;overflow-y:auto;background:#031226; }

#m_category ul.cate						{margin-top:40px;background:#041935;width:100%;text-align:left;text-indent:10px; overflow: hidden;*border-top:1px solid #545453;}
#m_category ul.cate>li					{border-bottom:1px solid #072e62;}
#m_category ul.cate li					{position:relative;}
#m_category ul.cate li a				{display:block;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;color:#555;}
#m_category ul.cate li .ct_op			{line-height:40px; font-size:16px; width:100%; padding-top:5px; text-align:left; padding-left:12px; color:#fff;font-weight:600;}
#m_category ul.cate li .ct_op:hover		{color:#ffdc00; text-decoration:none;cursor:pointer;}
#m_category ul.cate li .ct_op2			{line-height:40px; font-size:16px; width:100%; padding-top:5px; text-align:left; padding-left:12px; color:#fff;}

#m_category ul.sub_cate					{display:none;border-top:1px solid #123358;}
#m_category ul.sub_cate1 li				{text-indent:14px;background:#093f86;border-top:1px solid #041935; font-weight:bold; color:#fff;}/* 2017-01-20 */
#m_category ul.sub_cate1 > li			{border-top:1px solid #071b32; overflow:hidden}/* 2017-01-20 */
#m_category ul.sub_cate1 li:first-child	{border-top:none;}
#m_category ul.sub_cate1 li a			{line-height:40px; color:#fff; text-decoration:none;padding-left:10px;font-size:15px; font-weight:normal}
#m_category ul.sub_cate1 li a:hover		{color:#4e90df; text-decoration:none}
#m_category ul.sub_cate2 li				{text-indent:25px;background:#093f86; border-top:none; }
#m_category ul.sub_cate2 li a			{line-height:33px; font-size:15px;}
#m_category .pop_close					{position:absolute;top:0;right:0;width:40px;height:40px; background:#093f86; border:none; z-index:5000000000}
#m_category .pop_close i				{color:#fff; font-size:20px;}



.bbs_list table thead th			{padding:12px 8px; font:14px/130% 'NanumSquare'; color:#000; font-weight:600; background:#f6f6f6; border:1px solid #eee;}
.bbs_list table tbody td			{padding:12px 8px; font:14px/130% 'NanumSquare'; color:#444; border:1px solid #eee; text-align:center;}
.bbs_list table tbody tr:nth-child(even){background:#fcfcfc}

.pagination							{position:relative; text-align:center;}
.pagination a, .pagination strong{display:inline-block;width:23px;height:23px;margin-left:0px;margin-right:0px;text-align:center;font-size:12px;color:#252525;line-height:25px;letter-spacing:-2px;vertical-align:middle;}
.pagination a						{border:solid 1px #dedede;background:#fff}
.pagination strong					{border:solid 1px #083f88;background:#083f88;color:#fff;font-weight:normal;}
.pagination span.page_btn			{display:inline-block;margin:0 2px}
.pagination span.page_btn a			{width:23px;height:23px; font-size:12px;line-height:25px;}
*:first-child+html .pagination span.page_btn a{text-indent:0}

.tbl_sign table						{max-width:500px;}
.tbl_sign table th					{padding:5px; font:14px/130% 'NanumSquare'; }
.tbl_sign table td					{padding:5px; font:14px/130% 'NanumSquare'; }
.tbl_sign table td .signTime		{font:11px/120% 'NanumSquare';}
.tbl_sign table td .signApprove		{font:16px/130% 'NanumSquare';}

.tblForm_01 table thead th{font-size:23px;}
.tblForm_01 table tbody td dl dd{padding:3px 0 3px;width:70%}
}



/*********** mobile ***********/
@media all and (max-width:850px){
#wrap					{min-width:320px;}
#container_rp			{margin:0 8px;}
#content_rp h2.title	{font:20px/140% ''; color:#222; margin:12px 0;}

.conBox					{padding:10px !important;}
}